*,
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  --f: 5px;
  --br-15: calc(var(--f) * 3);
  --ff: sans-serif;
  --fw-5: 500;
  --fw-7: 700;
  --fw-8: 800;
  line-height: 1.5;
  color-scheme: dark light;
  font-family: var(--ff);
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

a,
button,
span {
  display: inline-block;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  outline: none;
}
img {
  display: block;
  max-width: 100%;
}
